

#container{
    width: auto;
    height: max-content;
    margin-left: auto;
    margin-right: auto;

}
#header{
    width: inherit;
    height: 200px;
    background-color: lightsteelblue;
}
#main{
    width: inherit;
    height: 1000px;
    background-color: lightsalmon;
}
#footer{
    width: inherit;
    height: 100px;
    background-color: lightgray;
}

#sidebar{
    width: 10%;
    height: inherit;
    background-color: lemonchiffon;
    display: inline-block;
    
}
#article{
    width: 90% ;
    height: inherit;
    background-color: lightseagreen;
    display: inline-block;
    vertical-align: top;
  
   
}
.gallery{
    width: 20% ;
    height: 10%;
    padding: 1%;
    margin: 1%;
    background-color: limegreen;
    display: inline-block;
    vertical-align: top;
  
    
}
/* #gallery-container{
    line-height: 10px;
} */
p{
    padding: 10px;
}